.big_wrapper {
  border: 10px solid red;
}
.big_wrapper .nav_container {
  background-color: dodgerblue;
}
.big_wrapper .nav_container a {
  color: white;
  background-color: dodgerblue;
}
.big_wrapper .aside_container {
  background-color: #999;
  display: inline-block;
  width: 200px;
}
.big_wrapper .aside_container a {
  display: block;
  color: #666;
}
.big_wrapper .main_container {
  background-color: #eee;
  display: inline-block;
  width: auto;
}
.big_wrapper .main_container a {
  color: blue;
  text-decoration: underline;
}
.big_wrapper .footer_container {
  background-color: #d9c71f;
}
.big_wrapper .footer_container a {
  color: red;
}
